body{
  margin: 0;
  background-color: powderblue;
  text-align:center;
  font-family: 'Merriweather', serif;

}
h1{
  margin-top: 0;
  font-family: 'Sacramento', cursive;

}
.top{
  position: relative;
  padding: 100px;

}
.top-cloud{
  position: absolute;
  bottom: 350px;
  right: 100px;
}
.bottom-cloud{
  position: absolute;
top: 20px;
left: 50px;

}
